[user]
    name = Maxim Andreev
    email = andreevmaxim@gmail.com

[push]
    default = current

[alias]
    a = add
    l = log
    s = status
    d = diff
    f = fetch --all
    c = commit
    co = checkout
    contributors = shortlog --summary --numbered
    tags = tag -l
    branches = branch -a
    remotes = remote -v

[diff "bin"]
    textconv= hexdump -v -C
[pull]
	ff = only
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = master

[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only --features=interactive

[delta]
    features = decorations navigate
    ; side-by-side = true
    line-numbers = true
    keep-plus-minus-markers = true

[delta "decorations"]
    file-style = blue box
    hunk-header-decoration-style = red ul
    hunk-header-file-style = red
    hunk-header-line-number-style = "#067a00"
    hunk-header-style = file line-number syntax
