[submodule "gdb/.gdb-colour-filter"]
	path = gdb/.gdb-colour-filter
	url = https://github.com/daskol/gdb-colour-filter
[submodule "gdb/.gdb-gef"]
	path = gdb/.gdb-gef
	url = https://github.com/hugsy/gef
[submodule "zsh/.zsh_plugins/ohmyzsh"]
	path = zsh/.zsh_plugins/ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh
[submodule "zsh/.zsh_plugins/powerlevel10k"]
	path = zsh/.zsh_plugins/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "zsh/.zsh_plugins/zsh-syntax-highlighting"]
	path = zsh/.zsh_plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "hammerspoon/.hammerspoon/Spoons/SkyRocket.spoon"]
	path = hammerspoon/.hammerspoon/Spoons/SkyRocket.spoon
	url = https://github.com/dbalatero/SkyRocket.spoon
