[submodule ".zsh_antigen"]
	path = .zsh_antigen
	url = https://github.com/zsh-users/antigen.git
[submodule ".config/awesome/moex"]
	path = .config/awesome/moex
	url = https://github.com/cdump/awesome-moex
[submodule ".config/awesome/calendar"]
	path = .config/awesome/calendar
	url = https://github.com/cdump/awesome-calendar.git
[submodule ".zplug"]
	path = .zplug
	url = https://github.com/zplug/zplug
[submodule ".zinit/bin"]
	path = .zinit/bin
	url = https://github.com/zdharma/zinit.git
