*foreground : #d0d0d0
*background : #1c1c1c
! black
*color0: #2a2a2a
*color8: #777777
! red
! *color1: #ff78a3
! *color9: #ffa0be

*color1 : #d78787
*color9 : #df8787


! green
*color2: #b6ff93
*color10: #bdff9d
! yellow
*color3: #ffd378
*color11: #ffe0a0
! blue
*color4 : #87afd7
*color12 : #87afdf
! magenta
*color5: #8f78ff
*color13: #b0a0ff
! cyan
*color6: #78e7ff
*color14: #a0eeff
! white
*color7: #cccbca
*color15: #fcfcfc

! URxvt*font: xft:DejaVu Sans Mono for PowerLine:pixelsize=25
! URxvt*font: xft:DejaVuSansMono Nerd Font:pixelsize=25
URxvt*font: xft: DejaVuSansMono Nerd Font Mono:pixelsize=25
URxvt*saveLines: 10000
URxvt*cursorColor: darkgreen
URxvt*scrollBar: True
URxvt*scrollstyle: plain
URxvt*scrollBar_right: True
URxvt*scrollTtyOutput: True
URxvt*buffered: true
URxvt*cursorBlink: false
URxvt*borderless: 1
URxvt*termName: xterm-256color

Xft.lcdfilter                : lcddefault
Xft.hintstyle                : hintslight
Xft.hinting                  : 1
Xft.autohint                 : 1
Xft.antialias                : 1
Xft.rgba                     : rgb


! Xft.dpi: 210
Xft.dpi: 171
! Xcursor.size: 1
! Xft.dpi: 108
#include ".Xresources.local"

