# A TOML linter such as https://taplo.tamasfe.dev/ can use this schema to validate your config.
# If you encounter any issues, please make an issue at https://github.com/yazi-rs/schemas.
"$schema" = "https://yazi-rs.github.io/schemas/keymap.json"

[mgr]
prepend_keymap = [
    { on = "q",     run = "escape",               desc = "Do not quit" },

	{ on = "<Enter>", run = "plugin smart-enter", desc = "Enter the child directory, or open the file" },
    { on = "<S-Enter>", run = "open --interactive",          desc = "Open selected files interactively" },

    { on = "<Right>", run = "plugin smart-enter", desc = "Enter the child directory, or open the file" },
    { on = "l",       run = "plugin smart-enter", desc = "Enter the child directory, or open the file" },
	{ on = "H",       run = "hidden toggle",               desc = "Toggle the visibility of hidden files" },

	{ on = "/", run = "plugin inc-search",      desc = "Find next file" },

    { on = "?", run = "help", desc = "Open help" },

	{ on = "d",         run = "remove --permanently",        desc = "Permanently delete selected files" },

	# Sorting
	{ on = [ "o" ], run = [ "noop" ], desc = "Use , for sorting" },

    { on = "*",   run = "toggle_all",            desc = "Invert selection of all files" },

	{ on = "<A-1>", run = "plugin tab-smart-switch 0", desc = "Switch to the first tab" },
	{ on = "<A-2>", run = "plugin tab-smart-switch 1", desc = "Switch to the second tab" },
	{ on = "<A-3>", run = "plugin tab-smart-switch 2", desc = "Switch to the third tab" },
	{ on = "<A-4>", run = "plugin tab-smart-switch 3", desc = "Switch to the fourth tab" },
	{ on = "<A-5>", run = "plugin tab-smart-switch 4", desc = "Switch to the fifth tab" },
	{ on = "<A-6>", run = "plugin tab-smart-switch 5", desc = "Switch to the sixth tab" },
	{ on = "<A-7>", run = "plugin tab-smart-switch 6", desc = "Switch to the seventh tab" },
	{ on = "<A-8>", run = "plugin tab-smart-switch 7", desc = "Switch to the eighth tab" },
	{ on = "<A-9>", run = "plugin tab-smart-switch 8", desc = "Switch to the ninth tab" },
]

[tasks]
append_keymap = [
	{ on = "q",     run = "close", desc = "Close task manager" },
]

[input]
append_keymap = [
	{ on = "<Esc>",   run = "close",          desc = "Cancel pick" },
]

[help]
append_keymap = [
	{ on = "q", run = "escape", desc = "Clear the filter, or hide the help" },
    { on = "/", run = "filter", desc = "Filter help items" },
    { on = "<C-u>", run = "arrow -50%",  desc = "Move cursor up half page" },
	{ on = "<C-d>", run = "arrow 50%",   desc = "Move cursor down half page" },
    { on = "<PageUp>",     run = "arrow -100%", desc = "Move cursor up one page" },
	{ on = "<PageDown>",   run = "arrow 100%",  desc = "Move cursor down one page" },
]
