# If the user's terminal is in dark mode, Yazi will load `theme-dark.toml` on startup; otherwise, `theme-light.toml`.
# You can override any parts of them that are not related to the dark/light mode in your own `theme.toml`.

# If you want to dynamically override their content based on dark/light mode, you can specify two different flavors
# for dark and light modes under `[flavor]`, and do so in those flavors instead.
"$schema" = "https://yazi-rs.github.io/schemas/theme.json"

# vim:fileencoding=utf-8:foldmethod=marker
# : Manager {{{

[mgr]
cwd = { fg = "#777777" }

# : }}}

# : Tabs {{{

[tabs]
active   = { bg = "#666666", bold = true }
inactive = { fg = "#666666", bg = "#333333" }

# Separator
sep_inner = { open = "", close = "" }
sep_outer = { open = "", close = "" }

# : }}}

# : Mode {{{

[mode]
normal_main = { bg = "#333333", bold = true }
normal_alt  = { fg = "#555555", bg = "#888888" }

# : }}}

# : Indicator of hovered file {{{

[indicator]
parent  = { reversed = true, fg = "#5f5f87", bg = "#bcbcbc", bold = true }
current = { reversed = true, fg = "#5f5f87", bg = "#bcbcbc", bold = true }
preview = { reversed = true, fg = "#5f5f87", bg = "#bcbcbc", bold = true }
padding = { open = "█", close = "█" }

# : }}}

# : File-specific styles {{{

[filetype]
rules = [
	# Image
	{ mime = "image/*", fg = "#d7afd7" },
	# Media
	{ mime = "{audio,video}/*", fg = "#87afd7" },
	# Archive
	{ mime = "application/{zip,rar,7z*,tar,gzip,xz,zstd,bzip*,lzma,compress,archive,cpio,arj,xar,ms-cab*}", fg = "red" },
	# Document
	{ mime = "application/{pdf,doc,rtf}", fg = "cyan" },
    # { mime = "text/plain", fg = "#00d7d7" },
    { mime = "text/x-shellscript", fg = "red" },
	# Virtual file system
	{ mime = "vfs/{absent,stale}", fg = "gray" },
	# Special file
	{ url = "*", is = "orphan", bg = "red" },
	{ url = "*", is = "exec"  , fg = "#87d787" },
	# Dummy file
	{ url = "*", is = "dummy", bg = "red" },
	{ url = "*/", is = "dummy", bg = "red" },
	# Fallback
	{ url = "*/", fg = "#bcbcbc", bold = true },
	{ url = "*", fg = "#bcbcbc" },
]

# : }}}

# : Icons {{{
[icon]
dirs  = [
	{ name = ".config", text = "", fg = "blue" },
	{ name = ".git", text = "", fg = "blue" },
	{ name = ".github", text = "", fg = "blue" },
	{ name = ".npm", text = "", fg = "blue" },
	{ name = "Desktop", text = "", fg = "blue" },
	{ name = "Development", text = "", fg = "blue" },
	{ name = "Documents", text = "", fg = "blue" },
	{ name = "Downloads", text = "", fg = "blue" },
	{ name = "Library", text = "", fg = "blue" },
	{ name = "Movies", text = "", fg = "blue" },
	{ name = "Music", text = "", fg = "blue" },
	{ name = "Pictures", text = "", fg = "blue" },
	{ name = "Public", text = "", fg = "blue" },
	{ name = "Videos", text = "", fg = "blue" },
]
conds = [
	{ if = "dir", text = "", fg = "blue" },
]
# : }}}
